@model List<Comments>

@if (ViewData["yorumsuz"] == null)
{
    <div class="alert alert-primary ss-no-comment" role="alert">
        @ViewData["yorumsuz"]
    </div>
}


@foreach (var item in Model)
{
    <!-- Single Comment -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">@item.Authors.Name</h5>
            @item.Comment
        </div>
    </div>

}
